<html>
    <head>
        <title>Model RR Manager</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var carMovementsList = ''
                $('#generate').click(function() {
                    $.ajax({
                        url: '/generate/',
                        type: 'GET',
                        data: {},
                        success: function(response) {
                            // Update the list of car movements in the HTML
                            carMovementsList = response.car_movements_list;
                            var listHTML = '<h3>Current Generated Movements</h3><h4>Car ID | Current Location | Destination</h4>';
                            for (var carID in carMovementsList) {
                                var movement = carMovementsList[carID];
                                listHTML += '<li>' + carID + ' ' + movement[0] + ' -> ' + movement[1] + '</li>';
                            }
                            $('#car-movements-list').html(listHTML);
                        },
                        error: function(response) {
                            // Handle error response
                        }
                    });
                });
                $('#execute').click(function() {
                    if (carMovementsList != ''){
                    $.ajax({
                        url: '/execute/',
                        type: 'POST',
                        data: carMovementsList,
                        success: function(response) {
                            // we should do something here - maybe write something
                        },
                        error: function(response) {
                            // Handle error response
                        }
                    });
                };});
            });
        </script>
    </head>
    <body>
        <h1>Model RR Management</h1>
        <h2>Summary:</h2>
    </h3>{{ RR_summary }}</h3>
    <h2>Actions:</h2>
    <button id="generate">Generate new set of movements</button>
    <ul id="car-movements-list">
        {% for movement in car_movements_list %}
            <li>{{ movement.car_type }} {{ movement.direction }}</li>
        {% endfor %}
    </ul>
    <button id="execute">Execute above set of movements</button>
</html>